

/* Задание 1 */
.conteiner {
    display: flex;
    flex-wrap: wrap;

}

.div2 {
    flex-basis: 100%;
    height: 0;

}


.button_min {
    margin-left: 20px;
    margin-top: 20px;
    background-color: #777070;

    border: 2px ;
    height: 50px;
    width: 50px;

}

.button_min:hover {
    background-color: #de6c04;

}

.button_med {
    margin-left: 20px;
    margin-top: 20px;
    background-color: #777070;

    border: 2px;
    height: 150px;
    width: 50px;

}

.button_med:hover {
    background-color: #de6c04;
    color: white;
}

.button_max {
    margin-left: 20px;
    margin-top: 20px;
    background-color: #777070;
    border: 2px ;
    height: 50px;
    width: 220px;

}

.button_max:hover {
    background-color: #de6c04;
    color: white;
}
.button_med_ {
    margin-left: 20px;
    margin-top: 20px;
    background-color: #777070;
    border: 2px;
    height: 50px;
    width: 150px;

}

.button_med_:hover {
    background-color: #de6c04;
    color: white;
}
/* Задание 2 */
.conteiner1 {
    display: flex;
    flex-wrap: wrap;

}

.div21 {
    flex-basis: 100%;
    height: 0;

}


.button_min1 {
    margin-left: 20px;
    margin-top: 20px;
    background-color: #777070;

    border: 2px ;
    height: 50px;
    width: 50px;

}

.button_med1 {
    margin-left: 20px;
    margin-top: 20px;
    background-color: #777070;

    border: 2px;
    height: 150px;
    width: 50px;

}



.button_max1 {
    margin-left: 20px;
    margin-top: 20px;
    background-color: #777070;
    border: 2px ;
    height: 50px;
    width: 220px;

}


.button_med_1 {
    margin-left: 20px;
    margin-top: 20px;
    background-color: #777070;
    border: 2px;
    height: 50px;
    width: 150px;

}


